@import 'vars.module';

@mixin body-text($size) {
  font-size: map-get($body-font-size, $size);
  color: map-get($body-text-color, $size);
  font-weight: normal;
  font-family: Arial, serif;
}

@mixin title-text($size) {
  font-weight: bold;
  font-size: map-get($title-font-size, $size);
  font-family: Arial, serif;
}

@mixin div-style($size) {
  padding: map-get($div-paddings, $size);
}

@mixin div-default-borders($size) {
  border-radius: map-get($div-border-radius, $size);
  border-width: 1px;
  border-style: solid;
}

@mixin div-colors($color) {
  background-color: map-get($background-color, $color);
  border-color: map-get($border-color, $color);
}

@mixin button() {
  display: inline-block;
  text-decoration: none;
  @include div-style("medium");
  @include div-default-borders("medium");
  @include body-text("medium");
  @include div-colors("default");
}

@mixin setupGrid($size) {
  display: grid;
  grid-column-gap: map-get($grid-spaces, $size);
  grid-row-gap: map-get($grid-spaces, $size);
}