@import "./common/styles/mixins.module.scss";

.app {
  display: grid;
  grid-column-gap: 10px;

  @media screen and (max-width: 900px) {
    grid-template-areas:
      'menu'
      'header'
      'content';
    grid-template-rows: 5rem auto;
  }
  @media screen and (min-width: 901px) {
    grid-template-areas:
      'menu   header'
      'menu   content';
    grid-template-columns: 12rem 1fr;
  }
}

.side {
  grid-area: menu;
}

.menu {
  @include div-style("big");
  @include div-colors("default");
}

.appInternal {
  grid-area: content;
  padding: 10px;
}

.header {
  grid-area: header;
  padding: 10px;
}